<div class="modal fade" id="modalMetodologia" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-dark border-secondary">
      <div class="modal-header border-secondary">
        <h5 class="modal-title">
          <i class="bi bi-cpu me-2"></i>Metodologia Científica
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h6 class="text-success strong">Como funciona?</h6>
        <p>
          Este sistema utiliza a técnica de
          <strong>Fotopletismografia Remota (rPPG)</strong> processada em três
          etapas principais:
        </p>

        <ol>
          <li class="mb-2">
            <strong>Detecção (ROI):</strong> Localização e rastreamento da
            região da testa utilizando o classificador <em>Haar Cascade</em>.
          </li>
          <li class="mb-2">
            <strong>Extração de Sinal:</strong> Captura das micro-variações de
            absorção de luz (canal verde) causadas pelo fluxo sanguíneo,
            imperceptíveis a olho nu.
          </li>
          <li class="mb-2">
            <strong>Processamento FFT:</strong> Aplicação da
            <em>Transformada Rápida de Fourier</em> para converter o sinal
            temporal em frequência e isolar o BPM dominante.
          </li>
          <li class="mb-2">
            <strong>Limitações:</strong> Estimativa estatística sujeita a ruídos
            de iluminação e hardware não calibrado. Não possui intervalo de
            confiança clínico por ausência de <em>Ground Truth</em>.
          </li>
        </ol>

        <p class="mb-2">
          O algoritmo de magnificação de vídeo utilizado baseia-se em:
        </p>

        <div class="p-2 rounded bg-black border border-secondary">
          <p
            class="small text-secondary mb-0"
            style="
              font-family: &quot;Times New Roman&quot;, serif;
              text-align: left;
            "
          >
            WU, Hao-Yu et al. Eulerian Video Magnification for Revealing Subtle
            Changes in the World.
            <strong>ACM Transactions on Graphics (Proc. SIGGRAPH 2012)</strong>,
            v. 31, n. 4, 2012. Disponível em: &lt;<a
              href="https://people.csail.mit.edu/mrub/evm/"
              target="_blank"
              class="text-info text-decoration-none"
              >https://people.csail.mit.edu/mrub/evm/</a
            >&gt;.
          </p>
        </div>
      </div>
      <div class="modal-footer border-secondary">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
